rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shared_tracks/{trackId} {
      // Allow read and write for all shared rally and gps tracks
      allow read, write: if true;
    }
  }
}
